@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --gray-color: #a3a3a3;
    --light-pink-color: #e9e1e1;
    --white-color: #FFFFFF;
    --accent-color: #0c7cb7;
    --black-color: #000000;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 1px solid var(--black-color);
    margin: 0 1%;
}

.home-link {
    display: flex;
    max-width: 100%;
    padding: 3em 4em;
    text-decoration: none;
    align-content: center;
    justify-content: center;
}

.logo-img {
    max-width: 100px;
    height: auto;
}

.logo-text {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: var(--black-color);
    font-weight: 600;
    align-self: flex-end;
    margin: 0;
}

#recipeSearch {
    display: flex;
    min-height: 30px;
    justify-content: center;
    margin: 1em;
}

.recipe-input {
    text-indent: .2em;
    width: 100%;
    height: 50px;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    border-radius: 15px 0 0 15px;
    border: 1px solid var(--black-color);
    border-right: none;
    transition: .4s;
}

.recipe-input::placeholder {
    text-indent: .2em;
    color: var(--gray-color);
}

.recipe-input:focus {
    outline-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.search-btn img {
    min-width: 10px;
    max-width: 20px;
}

.search-btn {
    max-width: 50px;
    min-width: 50px;
    border: 1px solid var(--black-color);
    border-radius: 0 15px 15px 0;
    background-color: transparent;
    transition: .4s;
    -webkit-appearance: none;
    appearance: none;
}

.search-btn:hover {
    cursor: pointer;
    background-color: var(--light-pink-color);
}

main {
    margin-bottom: 5em;
}



.no-results {
    font-size: 4em;
    color: var(--accent-color);
    text-align: center;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black-color);
    border-radius: 15px;
    margin: 1.6em;
    padding: 1.5em;
    min-width: 17rem;
}


.img-content img {
    width: 100%;
    margin: 0 auto;
    margin: 0;
    justify-self: center;
    aspect-ratio: 1;
}

.tag-container {
    display: flex;
    width: 100%;
}

.tag-container {
    height: fit-content;
}


.tag-container .tag:not(:first-child) {
    margin-left: 2%;
}        

.tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.9rem, 1.5vw, 1.08rem);
    border: 1px solid var(--black-color);
    width: fit-content;
    margin-top: .3em;
    padding: .4em;
}

.bottom-content h1 {
    color: var(--accent-color);
    font-weight: bolder;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.recipe-desc {
    display: none;
}

footer {
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}

.socials a {
    min-width: 50px;
    width: 5em;
    margin-left: 3%;
}

.attribution {
    color: var(--accent-color);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    text-decoration: none;
    margin: 0 2%;
}


img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
     .tag {
        font-size: 1.2em;
     }

     .bottom-content h1 {
        font-size: 3rem;
        margin: 1rem 0 .3rem 0;
     }
    }
    
    @media screen and (min-width: 1024px) {
        

        .card {
            margin: 2.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
        }
        
        .tag {
           font-size: 1.2em;
        }
    

        .img-content {
            flex-wrap: wrap;
            grid-column: 1;
            grid-row: 1;
            margin-right: 1em;
        }

        .bottom-content h1 {
            margin: .2em 0;
            font-size: 3em;
        }

        .recipe-desc {
            display: block;
            font-size: 1.4em;
            font-family: Arial, Helvetica, sans-serif;
        }

        footer {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin: 0 5em;
        }

        .attribution {
            margin: auto 0;
        }

        .socials a {
            width: 4em;
            margin-left: .3em;
        }
}

@media screen and (min-width: 1440px) {
    

    .card {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 30% 70%;
        max-height: 400px;
        margin: 3em 5em;
        padding: 0;
    }

    .img-content {
        margin: 1.7em;
        width: 20em;
    }

    .recipe-desc {
        font-size: 2em;
        line-height: 1.3em;
        width: 90%;
    }
    
    .bottom-content > * {
        margin-top: 1%;
    }

    .bottom-content h1 {
        font-size: 3em;
    }
    
}

@media screen and (min-width: 2560px) {
    

    .card {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 16% 84%;
        max-height: 300px;
        margin: 3em 5em;
        padding: 0;
        align-content: center;
    }

    .tag {
        font-size: 1.4em;
    }

    .tag-container {
        padding: 0;
    }

    .img-content {
        margin: 1.7em;
        width: 20em;
    }

    p.recipe-desc {
        padding: 0;
        font-size: 2em;
        line-height: 1em;
        width: 90%;
    }
    
    .bottom-content > * {
        margin-top: 2%;
    }

    .bottom-content h1 {
        font-size: 3em;
    }
    
}