/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* JamisonBC Font */
@font-face {
  font-family: 'JamisonBC';
  src: url('fonts/jamison-bc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #151515;
  --secondary-color: #A63D40;
  --accent1-color: #E9B872;
  --accent2-color: #F2F2F2;

  /* Heading and paragraph fonts */
  --heading-font: 'JamisonBC', sans-serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  /* Colors for all styling */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #151515; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #151515; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--accent1-color);
  --nav-link-color: #FFF;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: #F2F2F2;
  --nav-hover-background-color: #292727;
}

* {
  font-family: var(--paragraph-font);
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.main-logo {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    background-color: var(--primary-color);
}

.main-logo img {
    height: 13em;

}

.main-nav {
    display: grid;
    grid-template-columns: 90% 10%;
    flex-grow: 1;
}

.home-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.home-list li {
    padding-left: .5em;
}

/* Apply to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'JamisonBC', sans-serif;
}