/* Used ChatGPT to explain conflicts with a's flex-grow and use of nav space-around properties:  */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* JamisonBC Font */
@font-face {
  font-family: 'JamisonBC';
  src: url('fonts/jamison-bc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #151515;
  --secondary-color: #A63D40;
  --accent1-color: #E9B872;
  --accent2-color: #F2F2F2;

  /* Heading and paragraph fonts */
  --h1-font: 'Varsity Two BC', Arial, sans-serif;
  --heading-font: 'JamisonBC', Arial, sans-serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  /* Colors for all styling */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #151515; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f2f2f2; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--accent1-color);
  --nav-link-color: #f2f2f2;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: #F2F2F2;
  --nav-hover-background-color: #393838;
}

* {
  font-family: var(--paragraph-font);
  box-sizing: inherit;
  flex-shrink: 0;
  transition: .2s;
}

.hidden {
  display: none;
}

h1 {
  display: flex;
  color: var(--secondary-color);
  font-family: var(--h1-font);
  height: 3em;
  margin: 0;
  justify-content: center;
}

h1 img {
  height: 1.7em;
  align-self: center;
}

/* Apply to all headings */
h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  background-color: var(--primary-color);
  min-width: 100%;
}

.main-logo {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: var(--primary-color);
}

img {
  max-width: 100%;
}

.main-logo img {
  height: 9em;
  align-self: center;
}


.main-nav {
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-color);
}

.vis-mobile-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  color: var(--accent2-color);
  font-size: 1.5em;
  padding: .5em;
  align-self: center;
  transition: .2s;
}

.hamburger:hover {
  background-color: var(--nav-hover-background-color);
}

.cart {
  display: flex;
  padding: .5em .6em;
}

.cart img {
  height: 2em;
  aspect-ratio: 1;
  align-self: center;
}

.cart:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.home-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.home-list.hidden {
  display: none;
}

.home-list li {
  display: flex;
  flex-grow: 1;
}

.home-list li a {
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 80px;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
  font-size: 1.5rem;
  text-decoration: none;
  align-content: center;
  transition: background-color 0.2s ease-out;
}

.home-list li a:hover {
  background-color: var(--nav-hover-background-color);
}

.close-form {
  padding: 1.5em 1em;
  transition: .2s;
}

.close-form:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.aside-titlebar {
  align-content: center;
  display: flex;
}

.side-title {
  padding-left: .2em;
}

.form-subtitle {
  margin: 0;
  padding: .8em 0 0 0;

}

.sidebar {
  background-color: #fafafa;
}

form > *, .form-subtitle {
  margin-left: 1em;
}

.price-item {
  display: flex;
  align-items: center;
}

label[for="priceRange"] {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

.range-desc {
  margin: 0 0 1em 4.3em;
  display: flex;
  justify-content: space-between;
  width: 55%;
  max-width: 12.5em;
}

.range-desc > * {
  padding-top: 0;
  margin-top: 0;
  font-size: 1em;
}

.price-item > * {
  margin-right: .5em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 55%;
  max-width: 15em;
  height: 8px;
  background-color: var(--nav-hover-background-color);
  border-radius: 5px;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 2px solid black;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
  background-color: var(--primary-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
  outline: none;
  border: 2px solid var(--secondary-color);
}

input[type="checkbox"]:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  position: relative;
}


input[type="checkbox"] ~ label:hover, input[type="checkbox"] ~ label {
  cursor: pointer;
  user-select: none;
}

.mens-section {
  padding-bottom: 1em;
}


label {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  vertical-align: middle; 
}

.main-title {
  text-align: center;
}

.product-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.product-card {
  padding: 1.5em;
  padding-top: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #FFF;
}

.product-card:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.product-img-div {
  max-height: 624px;
  max-width: 624px;
}

.product-card img {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: auto;
}

.product-price {
  font-size: 1.5em;
  margin: .5em 0;
  margin-top: .7em;
  font-weight: 600;
}

.price-was {
  text-decoration: line-through;
  color: #6d6d6d;
}

.discount-percentage {
  background-color: #2a8703;
  color: #F2F2F2;
  padding: .3em;
  margin: .3em;
  font-size: .8em;
}

.discounted-price {
  color: #2a8703;
}

.tag-container {
  display: none;
}

.category-container {
  display: none;
}


[data-tag="best-seller"] {
  display: none;
}

[data-tag="sale"] {
  display: none;
}

[data-tag="new-arrival"] {
  display: none;
}

.product-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.product-desc a {
  text-transform: uppercase;
  color: #E9B872;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--nav-hover-background-color);
  padding: 10px 12px;
  border-radius: 70px;
  flex-grow: 1;
  text-align: center;
  margin: 0 5px;
}

.product-desc a:hover {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
}


p {
  font-family: var(--paragraph-font);
}


footer {
  text-align: center;
  padding: 10px;
  color: var(--accent2-color);
  background-color: var(--primary-color);
  font-size: 1.2em;
}

@media screen and (min-width: 375px) {
  .tag-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .tag {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .category-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333333;
    color: var(--paragraph-color-on-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  [data-tag="best-seller"] {
    background-color: #B35C5C;
    color: #F2F2F2;
  }
  
  [data-tag="best-seller"]:hover {
    background-color: #CC7A7A;
  }
  
  [data-tag="sale"] {
    background-color: #2a8703;
    color: #F2F2F2;
  }
  
  [data-tag="sale"]:hover {
    background-color: #4f833a;
  }
  
  [data-tag="new-arrival"] {
    background-color: var(--accent1-color);
    color: var(--primary-color);
  }
  
  [data-tag="new-arrival"]:hover {
    background-color: #ebcb9e;
  }
}

@media screen and (min-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .aside-titlebar {
    width: 30%;
  }


  .container {
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  aside {
    grid-column: 1;
  }

  main {
    grid-row: 1/2;
    grid-column: 2;
  }
  
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}