/* Used ChatGPT to explain conflicts with a's flex-grow and use of nav space-around properties:  */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* JamisonBC Font */
@font-face {
  font-family: 'JamisonBC';
  src: url('fonts/jamison-bc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #151515;
  --secondary-color: #A63D40;
  --accent1-color: #E9B872;
  --accent2-color: #F2F2F2;

  /* Heading and paragraph fonts */
  --heading-font: 'JamisonBC', Arial, sans-serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  /* Colors for all styling */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #151515; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f2f2f2; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--accent1-color);
  --nav-link-color: #f2f2f2;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: #F2F2F2;
  --nav-hover-background-color: #393838;
}

* {
  font-family: var(--paragraph-font);
  box-sizing: inherit;
  flex-shrink: 0;
  transition: .2s;
}

.hidden {
  display: none;
}

h1.product-title {
  display: flex;
  color: var(--primary-color);
  font-family: var(--heading-font);
  margin-left: 0;
  padding-top: .8em;
  height: fit-content;
  justify-content: center;
  background-color: #F3F3F3;
}

h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--accent2-color);
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  background-color: var(--primary-color);
  min-width: 100%;
}

.main-logo {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: var(--primary-color);
}

img {
  max-width: 100%;
}

.main-logo img {
  height: 9em;
  align-self: center;
}


.main-nav {
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-color);
}

.nav-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  color: var(--accent2-color);
  font-size: 1.5em;
  padding: .5em;
  align-self: center;
  transition: .2s;
}

.hamburger.hidden {
  position: absolute;
  display: none;
  z-index: -1;
  top: 0;
}

.hamburger:hover {
  background-color: var(--nav-hover-background-color);
}

.grow-shake {
  animation: grow-shake 0.5s ease;
}

.cart {
  display: flex;
  padding: .5em .6em;
}

.incart-circle {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* Circular shape */
  background-color: var(--accent1-color);
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.cart-amount {
  display: flex;
}

.hidden.cart-amount {
  display: none;
}

.cart-amount-icon {
  font-size: 0.8rem;
}

.cart img {
  height: 2em;
  aspect-ratio: 1;
  align-self: center;
}

.cart:hover {
  cursor: pointer;
  background-color: var(--nav-hover-background-color);
}

.mobile-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-list.hidden {
  display: none;
}

.mobile-list li {
  display: flex;
  flex-grow: 1;
}

.mobile-list li a {
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 80px;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
  font-size: 1.5rem;
  text-decoration: none;
  align-content: center;
  transition: background-color 0.2s ease-out;
}

.mobile-list li a:hover {
  background-color: var(--nav-hover-background-color);
}


/* Main content */
main {
  background-color: var(--accent2-color);
}

.go-back {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.go-back:hover {
  background-color: #E7E7E7;
  cursor: pointer;
}

.go-back span {
  margin: .7em;
  align-content: center;
  color: var(--primary-color);
}

.go-back p {
  font-family: var(--heading-font);
  color: var(--primary-color);
  align-self: center;
}

img {
  max-width: 100%;
}

h1.product-title {
  height: fit-content;
  font-size: 1.5em;
  margin-left: .7em;
}

.spotlight {
  display: flex;
  margin: 0.7em;
  justify-content: center;
}

.spotlight img {
  border-radius: 16px;
}


.image-line {
  display: flex;
  justify-content: space-evenly;
}

.image-line img {
  width: 100px;
  border-radius: 6px;
}

.image-line img:hover {
  cursor: pointer;
  border: .1em solid var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
}

.all-tag-and-category-section h2 {
  box-sizing: border-box;
  margin-top: 5em;
  margin-left: 1em;
  font-size: 1.4em;
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tag, .category {
  display: inline-block;
  padding: 12px 17px;
  margin: 1.2em .5em;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--paragraph-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 8px #0000001a;
}

.category {
  background-color: #8D3436;
  color: #F2F2F2;
}

.flex-container {
  display: block;
  margin: 0 .8em;
  margin-top: 1em;
}

.flex-container h2 {
  display: block;
  margin: .6em .3em 0;
  margin-top: 1em;
  font-size: 1.5em;
}


.price {
  font-size: 1.5em;
  margin-left: .4em;
  font-weight: 600;
}

.price-was {
  text-decoration: line-through;
  align-self: center;
  font-size: 1.6em;
  color: #6d6d6d;
  margin-left: .4em;
}

.discount-percentage {
  background-color: #1E5D55;
  color: #F2F2F2;
  font-weight: 600;
  padding: .24em;
  margin-left: .3em;
  font-size: 1.4em;
}

.discounted-price {
  align-self: center;
  font-size: 1.6em;
  font-weight: 600;
  color: #1E5D55;
  margin-left: .4em;
}

.tag, .category {
  display: inline-block;
  padding: 12px 28px;
  margin: 1.2em .5em;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--paragraph-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 8px #0000001a;
}

.category-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--paragraph-color-on-white);
}

.hidden.category-container,
.hidden.tag-container {
  display: none;
}

[data-tag="best-seller"] {
  background-color: #884705;
  color: #F2F2F2;
}


[data-tag="sale"] {
  background-color: #1E5D55;
  color: #F2F2F2;
}


[data-tag="new-arrival"] {
    background-color: #1F4E8F;
    color: var(--accent2-color);
}


.product-desc .desc-text {
  margin: .8em .6em .8em 1em;
  font-size: 1.2em;
  line-height: 2em;
}

.button-input-wlabel {
  display: block;

}

.button-grid {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

}

.button-grid button {
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 1.2em;
  display: flex;
  width: 60px;
  height: 60px;
  font-weight: 600;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #393838;
  color: var(--accent2-color);
  border-radius: 9px;
  border: none;
}

.button-grid button:hover {
  cursor: pointer;
  background-color: #6d6d6d;
}

form h2 {
  text-align: center;
}

.quantity-cart {
  display: grid;
  flex-direction: column;
}

.button-grid button.chosen {
  background-color: #8D3436;
  color: var(--accent2-color);
}

.quantity-input {
  border: none;
}

.disabled {
  cursor: not-allowed;
}

.button-grid button.disabled {
  background-color: #f2f2f2;
  border: 2px dashed var(--primary-color);
  color: var(--primary-color);
}

.button-grid button.disabled:hover {
  user-select: none;
  cursor: not-allowed;
}

.flex-right-left {
  display: flex;
}

.fa-minus,
.fa-plus {
  
  border: none;
  background-color: #00000000;
  margin: 0;
  padding: 1.8em;
  text-align: center;
}

.fa-minus:hover,
.fa-plus:hover {
  cursor: pointer;
  background-color: #E7E7E7;
}

.quantity-label {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .4em;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.product .quantity-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

.quantity-cart {
  flex-direction: row;
  justify-content: center;
}

.quantity-bar {
  margin: .8em;
  margin-right: 2em;
  flex-direction: row;
}

.quantity-input {
  padding: 1em;
}

.add-to-cart {
  align-items: center;
  margin: 1.5em;
  margin-bottom: 1em;
  background-color: #393838;
  color: #f2f2f2;
  border: none;
  width: 80%;
  padding: .8em;
  font-size: 1.5em;
  border-radius: 12px;
  font-weight: 600;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: #8D3436;
}

#errorMessage {
  opacity: 1;
}

#errorMessage.error > * {
  font-family: var(--paragraph-font);
  background-color: #7c3839;
  color: var(--accent2-color);
}

#errorMessage.success > * {
  font-family: var(--paragraph-font);
  background-color: #1E5D55;
  color: var(--accent2-color);
}

#errorMessage.hidden {
  opacity: 0;
}

.error {
  background-color: #7c3839;
}

.success {
  background-color: #1E5D55;
}

.error-title {
  margin: 0;
  padding: .5em;
  font-size: 26px;
  font-weight: 600;
}

.error-desc {
  margin-top: 0;
  padding: .8em;
  font-size: 18px;
}

.error-title, .error-desc {
  text-align: center;
  font-family: var(--paragraph-font);
}

footer {
  text-align: center;
  padding: 10px;
  color: var(--accent2-color);
  background-color: var(--primary-color);
  font-size: 1.2em;
}

@media screen and (min-width: 375px) {
  .desktop-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1em;
    list-style-type: none;
  }
  
  .desktop-menu.hidden {
    display: none;
    position: absolute;
    z-index: -1;
  }
  
  .desktop-menu li {
    display: flex;
    flex-grow: 1;
  }
  
  .desktop-menu li a {
    text-align: center;
    flex-grow: 1;
    width: 100%;
    height: 80px;
    font-family: var(--paragraph-font);
    color: var(--nav-link-color);
    font-size: 1.5rem;
    text-decoration: none;
    align-content: center;
    transition: background-color 0.2s ease-out;
  }
  
  .desktop-menu li a:hover {
    background-color: var(--nav-hover-background-color);
  }

  .go-back {
    font-size: 1.4em;
  }

  .tag-section {
    display: block;
  }
  
  .tag, .category {
    display: inline-block;
    padding: 8px 16px;
    margin: 1.2em .5em;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px #0000001a;
  }
  
  .product-desc .desc-text {
    margin-right: .64em;
    font-size: 1.3em;
  }

  .button-grid button {
    width: 55px;
    height: 55px;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 465px) {
  .tag, .category {
    font-size: 1em;
    padding: 12px 21px;
  }

  .quantity-input {
    font-size: 1.2em;
    padding: .7em;
  }
  
}

@media screen and (min-width: 768px) {

  .desktop-menu {
    flex-grow: 1;
  }

  .cart {
    padding: 1.6em;
  }

  .image-line img {
    width: 150px;
  }

  .product-content {
    margin: 0 1em;
  }

  .product-content h1 {
    font-size: 2.5em;
  }

  .button-grid button {
    width: 70px;
    height: 70px;
    font-size: 1.4em;
    align-items: center;
  }

  .flex-container {
    display: block;
    margin: 0 .8em;
    margin-top: 1em;
  }
  
  .flex-container h2 {
    display: block;
    font-size: 2em;
    margin: 0 .3em;
    margin-top: 1em;
  }
  
  
  .price {
    font-size: 3em;
  }
  
  .discount-percentage {
    font-size: 2em;
  }
  
  .price-was {
    font-size: 2.2em;
  }
  
  
  .discounted-price {
    font-size: 2.5em;
  }
  
  .product-desc .desc-text {
    margin: .8em .6em .8em 1em;
    font-size: 1.7em;
    line-height: 2em;
  }

}

@media screen and (min-width: 1024px) {
  .hamburger {
    user-select: none;
    z-index: -1;
  }
  
  .mobile-list {
    display: flex;
    z-index: 1;
  }
  
  .desktop-menu li a {
    font-size: 1.7em;
    padding: 0;
  }
  
  .tag, .category {
    padding: 10px 19px;
    margin: .5em;
    font-size: 16px;
  }

  .product-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .image-collage-container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    align-items: start;
  }

  .image-line {
      display: flex;
      margin: .7em;
      flex-direction: column;
      gap: 1rem;
      
  }

  .image-line img {
      width: 100%;
     
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color 0.3s ease;
  }

  .image-line img:hover {
      border-color: #ccc;
  }

  .spotlight {
      display: flex;
    
      grid-column: 2;
      grid-row: 1;
  }
  
  .product-content {
    margin: 0 1em;
  }
  
  .product-content h1 {
    font-size: 2em;
  }
  
  .button-grid button {
    width: 55px;
    height: 55px;
    font-size: 1.1em;
    align-items: center;
  }
  
  .flex-container {
    display: block;
    margin: 0 0.6em;
    margin-top: 0.8em;
  }
  
  .flex-container h2 {
    display: block;
    font-size: 1.6em;
    margin: 0 0.2em;
    margin-top: 0.8em;
  }
  
  .price {
    font-size: 2.3em;
  }
  
  .discount-percentage {
    font-size: 1.6em;
  }
  
  .price-was {
    font-size: 1.8em;
  }
  
  .discounted-price {
    font-size: 2em;
  }
  
  .product-desc .desc-text {
    margin: 0.6em 0.4em 0.6em 0.8em;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  
  .quantity-bar {
    display: block;
    margin: 0.6em;
    margin-right: 1.6em;
  }
  
  .quantity-input {
    padding: 1.2em;
    font-size: 1em;
  }
  
  .add-to-cart {
    align-items: center;
    padding: 0.6em;
    font-size: 1.2em;
    width: 80%;
    text-align: center;
  }
  
  .quantity-cart {
    justify-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .spotlight img {
    width: auto;
    max-height: 60vh;
  }
  
  
  .product-content {
    margin: 0 1em;
  }
  
  
  .product-content h1 {
    font-size: 2.8em;
  }
  
  
  
  .product-price {
    margin-top: 1em;
  }
  
  .price {
    font-size: 3em;
  }
  
  .discount-percentage {
    font-size: 2em;
  }
  
  .price-was {
    font-size: 2.2em;
  }
  
  
  .discounted-price {
    font-size: 2.5em;
  }
  
  .tag, .category {
    padding: 15px 30px;
    font-size: 1.2em;
  }
  
  .product-desc .desc-text {
    margin: .8em .6em .8em 1em;
    font-size: 1.7em;
    line-height: 2em;
  }
  
  .button-grid button {
    width: 80px;
    height: 80px;
    font-size: 1.7em;
    align-items: center;
  }
  
  .flex-container {
    display: block;
    margin: 0 .8em;
  }
  
  .flex-container h2 {
    display: block;
    font-size: 2em;
    margin: 1em .3em;
  }
  
  .quantity-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  .quantity-bar {
    margin: .8em;
    margin-right: 2em;
  }
  
  .quantity-input {
    padding: 25px;
    border: none;
  }
  
  .add-to-cart {
    align-items: center;
    margin: 0;
    margin-top: 1em;
    width: 20%;
    align-self: center;
    font-size: 1.5em;
  }

}

@media screen and (min-width: 2560px) {
  .spotlight img {
    width: auto;
    height: 60vh;
  }

  .product-container {
    grid-template-columns: 60% 40%;
  }
  
  .spotlight {
    height: max-content;
    flex-grow: 1;
  }
  
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

/* CSS Animations */

/* Shake the cart-amount circle when something was added */
@keyframes grow-shake {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  50% { transform: scale(1) rotate(5deg); }
  70% { transform: scale(1.2) rotate(-5deg); }
  100% { transform: scale(1); }
}