/* Initially show only elements with .invisible-p class */


/* Defining CSS variables for universal use */
:root {
    --h1-font-size: 18px;
    --h3-font-size: 16px;
    --p-font-size: 14px;
    --blue: #95bbcf;
    --dark-blue: #628395;
    --table-blue: #bcd6e4;
    --notice-blue: #0c6ae6;
    
}

/* Making everything line up to the very edge of the page */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Giving header a background color */

header {
    background-color: var(--dark-blue);
    margin: 1rem 1rem 0rem 1rem;
}

/* h1 Style to the middle of the screen and more appealing */
h1.main-title {
    text-align: center;
    font-size: var(--h1-font-size);
    padding: .7rem;
}


/* Giving space on the left and right of the table header paragraphs.  */
.table-header {
    padding: .2rem;
    background-color: var(--blue);
    margin: 0 2rem 0 2rem;
}

/* Aligning the table content with the rest of the table */

/* Container for the two side-by-side divs */
.table-container {
    display: flex;
}

/* Making the table title look like the table content */
/* Container for the two side-by-side divs */

.table-title-container {
    display: flex;
    margin: 0 1rem;
    background-color: var(--blue);
}

/* Left div taking 50% of the screen width with 1rem left margin */
.left-title {
    height: 100%;
    width: 50%;
    padding: 0 2rem 0 2rem; 
    text-align: center;
}

/* Right div taking 50% of the screen width with 1rem right margin */
.right-title {
    height: 100%;
    width: 50%;
    padding: 0 2rem 0 2rem; 
    text-align: center;
}

/* Left div taking 50% of the screen width with 1rem left margin */
.left-div {
    width: 100%;
    margin-left: 1rem;
    background-color: var(--blue);
    padding: 0;
    text-align: center;
}

/* Right div taking 50% of the screen width with 1rem right margin */
.right-div {
    width: 100%;
    margin-right: 1rem;
    background-color: var(--blue);
    padding: 0;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: rgb(60, 94, 206);
}

a:visited {
    color: #ad396e;
}

a:hover {
    color: #197569;
    text-decoration: underline;

}

/* Styling each table cell as a table cell  */
.table-content {
    padding: .2rem;
    font-size: var(--p-font-size);
    background-color: white;
    border: .3px solid black;
    
}


.table-title-text {
    font-size: var(--p-font-size);
    text-align: center;
    overflow-wrap: break-word;
    padding: 0;
}

.blue {
    background-color: var(--light-blue);
}

/* For white background */
.white-complete::before {
    color: #008000;
    content: "Complete";
}

.white-nstart::before {
    color: #da0d0d; 
    content: "Not Started";
}

.white-help::before {
    color: #8831b4;
    content: "Help Needed";
}

.white-progress::before {
    color: #e09916;
    content: "In Progress";
}

/* For --light-blue background */
.blue-complete::before {
    color: #008000;
    content: "Complete";
}

.blue-nstart::before {
    color: #be1a1a; 
    content: "Not Started";
}

.blue-progress::before {
    color: #b8712f;
    content: "In Progress";
}

.blue-help::before {
    color: #8526b4;
    content: "Help Needed";
}


/* For white background */
.white-complete {
    color: #008000; /* Green for "Complete" on white background */
}

.white-help {
    color: #FF3333; /* Red for "Help Needed" on white background */
}

.white-in-progress {
    color: #e09916; /* Dark gray for "In Progress" on white background */
}

/* For --light-gray background */
.blue-complete {
    color: #008000; /* Green for "Complete" on gray background */
}

.blue-help {
    color: #FF3333; /* Red for "Help Needed" on gray background */
}

.blue-in-progress {
    color: #b8712f; /* Dark gray for "In Progress" on gray background */
}

.footer-p {
    margin: .3rem 1rem;
    font-size: var(--p-font-size);
    color: var(--notice-blue);
}

@media screen and (max-width: 425px) {
    .footer-p {
        text-align: center;
    }
}