/* form-demo.css */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  font-size: 20px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  height: fit-content;
}

#checkoutForm input, #checkoutForm p > select, #checkoutForm p > textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 2.6em;
  font-size: .94em;
  border-radius: 4px;
  padding-left: .4em;
  border: 1px solid;
}

#checkoutForm p label {
  font-weight: 600;
  font-size: 1.3rem;
  padding-left: .2em;
  }
  
  #checkoutForm input[type="submit"] {
    background-color: #4caf50;
    color: #FFF;
    border: none;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    transition: .2s;
  }

  #checkoutForm input[type="submit"]:hover {
    background-color: #228226;
    cursor: pointer;
  }
  
  .errors > p {
    border: 1px solid red;
    padding: 0.5em;
  }
  /* Style the select arrow for Safari */
  select::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Style the select arrow for other browsers */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .hide {
    display: none; /* Initially hide the credit card input and label */
  }