
/* Color scheme: https://coolors.co/db3a34-ffc857-333333-18464b-fcfcfc */
:root {
    --primary-color: #333333;
    --secondary-color: #FFC857;
    --accent-color1: #DB3A34;
    --accent-color2: #18464b;
    --text-color-white: #333333; 
    --text-color-dark: #F2F2F2;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    transition: all .3s ease-in;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    align-items: center;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 43% auto;
    width: 100%;
    z-index: 1000;
    height: 100px;
    max-height: fit-content;
    
}

header a, nav {
    margin: 0 auto;
}

header a {
    display: flex;
    grid-column: 1;
    width: 100%;
}

.main-logo {
    margin: 0 auto;
    max-width: 80%;
    min-width: 60%;
    height: 60px;
    align-self: center;
    box-sizing: border-box;
}

nav {
    grid-column: 2;
    width: 100%;
}

.main-nav-list {
    list-style-type: none;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.main-nav-list a {
    width: 100%;
    padding: 4% 0;
    color: var(--text-color-dark);
    text-decoration: none;
    justify-content: center;
}

.main-nav-list a:hover {
    background-color: #686868;
}

.main-nav-list li {
    width: 100%;
    justify-self: center;
}

.main-nav-list li a {
    align-content: center;
    font-size: 1.5em;
}

.collapsed {
    grid-template-columns: 20% 70% 10%;
}

.collapsed, .collapsed > a {
    height: 80px;
}

.collapsed .main-logo {
    height: 60px;
}


.collapsed nav {
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.collapsed nav ul {
    height: 80px;
    padding: 0;
    transition: none;
}

.collapsed nav ul li {
    max-height: 100px;
}

.collapsed nav ul li a {
    align-items: center;
    font-size: 1.5em;
    height: 80px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.book-post {
    display: grid;
    grid-template-columns: 25% 75%;
}

.book-info {
    display: grid;
    margin-left: 4%;
    grid-template-rows: 14.5% 10% 33% 66%;
}

.book-title {
    grid-row: 1;
    width: 100%;
    margin-bottom: 3%;
    font-size: 30px;
}

.author {
    font-size: 20px;
    grid-row: 2;
}

.book-cover-img {
    grid-row: 3;
}

.book-desc {
    grid-row: 4;
}

.metadata-info {
    margin-left: 6%;
    border-right: 2px solid;
    height: 110vh;
}

.metadata-item {
    display: flex;
    margin-left: 3%;
}

.metadata-item p {
    align-self: center;
    font-size: 12px;
}

.metadata-icon {
    width: 30px;
}

.icon-text {
    padding-left: 4%;
}

form {
    grid-column: 3;
    background-color: var(--secondary-color);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    max-width: 20em;
    margin: 2em auto;
    border: 0.1em solid var(--primary-color);
}

.combobox {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 1rem;
    margin-right: 0.5em;
    color: var(--text-color-white);
}

select {
    width: 10em;
    height: 2em;
    padding: 0.5em;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--text-color-dark);
    border: 0.1em solid var(--primary-color);
    border-radius: 0.5em;
}

select:focus {
    outline: none;
    border-color: var(--accent-color1);
}

.combobox select {
    background-size: 0.5em;
}

select:hover {
    border-color: var(--accent-color2);
}

select option {
    background-color: var(--text-color-dark);
    color: var(--primary-color);
}


@media screen and (max-width: 425px) {
    .main-logo {
        content: url(images/main-logo-white.svg);
    }
    header {
        background-color: var(--text-color-white);
        height: fit-content;
    }
}

@media screen and (min-width: 425px) {
    header {
        background-color: var(--text-color-dark);
    }
    
    .main-nav-list a {
     color: var(--text-color-white);   
    }

    .main-nav-list a:hover {
        background-color: #d8d4d4;
    }

    .main-nav-list {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 0 6%;
        background-color: var(--text-color-dark);
    }

}





